* {
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /*   font-family: 'Montserrat', sans-serif;  */
  /*   font-family: 'Poppins', sans-serif;     */
  /*   font-family: 'Work Sans', sans-serif;   */
  /* font-family: 'Nunito', sans-serif;   */
}

:root {
  --greenText: #156963;
  --blackText: #2C1500;
  --grayText: #333333;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

* a {
  text-decoration: none;
}

/*--------HEADER-----------------------------------*/
/*---------LEFT SECTION ( IMG )--------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__image {
  -ms-flex-preferred-size: 47.5%;
      flex-basis: 47.5%;
  position: relative;
}

.header__image::before {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  left: 56px;
  width: 36px;
  height: 36px;
  background: url(../css/Group5.svg) no-repeat;
}

.header__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

/*-----------RIGHT SECTION------------------------------------*/
.header__content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__content-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 40px 56px 40px 56px;
  height: 36px;
}

/*--------MENU-----------------------------------------------*/
.menu__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
}

.menu__search input {
  height: 36px;
  border: none;
  padding: 5px;
  background: white;
}

.menu__search input:hover {
  background: #F3F4F6;
}

.menu__search::after {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  background: url(../css/search1.svg) no-repeat;
  top: 8px;
  right: 15px;
}

.menu__button button {
  border: none;
  background: transparent;
  height: 36px;
  padding: 8px;
}

.menu__button button:hover {
  background: var(--greenText);
  cursor: pointer;
}

.menu__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  width: 222px;
}

.menu__login a {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 111px;
          flex: 1 1 111px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--greenText);
}

.menu__login a:hover {
  background: var(--greenText);
  color: white;
}

/*------------------ARTICLE------------------------------------*/
.header__content-article {
  margin: 10px 70px;
  padding-left: 7px;
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__content-article h1 {
  font-size: 68px;
  font-weight: 500;
  color: var(--greenText);
  padding-top: 20px;
}

.header__content-article p {
  font-size: 18px;
  color: #2C1500;
  line-height: 32px;
}

/*----------BUTTONS---------------------------------*/
.bb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
}

.header__content-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 160px;
  margin-left: 50px;
}

.header__content-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__content-button a:hover {
  background: var(--greenText);
}

.header__content-button a:hover div:last-child {
  color: white;
}

.header__content-button a div:first-child {
  font-size: 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50%;
  color: #333333;
}

.header__content-button a div:last-child {
  font-size: 32px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50%;
  padding: 0px 0px 0px 0px;
  color: var(--greenText);
}

.arrow-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-text {
  padding: 0px;
  line-height: 30px;
  height: 32px;
  vertical-align: center;
}

.arrow-button img {
  height: 30px;
}

/*-------SERVICES------------------------*/
.services {
  max-width: 1184px;
  margin: 140px auto 83px;
  padding: 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 268px;
          flex: 1 1 268px;
  border: 1px solid #E0E0E0;
  padding: 22px 16px;
  margin: 0px 16px;
}

.services__item:hover {
  background: #F3F4F6;
}

.item__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--greenText);
  padding-left: 58px;
  position: relative;
}

.item__info {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: #2C1500;
  padding-top: 16px;
}

.title_one::before,
.title_two::before,
.title_three::before,
.title_four::before {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
}

.title_one::before {
  background: url(../css/fast1.png);
}

.title_two::before {
  background: url(../css/headphones.png);
}

.title_three::before {
  background: url(../css/plant.png);
}

.title_four::before {
  background: url(../css/dollar-symbol.png);
}

/*--------PLANT ------------------------------*/
.plants {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0px 16px;
}

.plants__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
}

.menu__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
}

.menu__form {
  border: none;
  border-radius: 0px;
  background: white;
  width: 130px;
  height: 31px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.plants__species {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.species {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 217px;
          flex: 0 0 217px;
  margin: 8px 8px;
}

.species img {
  width: 217px;
  height: 217px;
  background: #F3F4F6;
  opacity: 0.7;
}

.species:hover img {
  opacity: 1;
}

.image_title {
  font-size: 16px;
  font-weight: 400p;
  text-align: center;
  padding-top: 20px;
}

.plant_price {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
}

/*------BUYMORE---------------*/
.buymore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1168px;
  margin: 75px auto 50px;
  padding: 10px 0px;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
}

.article h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  max-width: 552px;
  padding: 0px 22px;
  margin-top: -10px;
}

.article article {
  line-height: 28px;
  font-weight: 400;
  max-width: 552px;
  color: #2C1500;
  padding: 22px;
  margin-top: 0px;
}

.article img {
  padding: 0px;
  margin: 0px;
  max-width: 568px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}

.buymore-img {
  -ms-flex-preferred-size: 44%;
      flex-basis: 44%;
}

.buymore-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

/*-----GETYOUR----------------*/
.getyour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F3F4F6;
  max-width: 1168px;
  height: 360px;
  margin: 0px auto;
  margin-bottom: 80px;
  padding-left: 97px;
}

.getyour__banner {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.getyour__banner h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  max-width: 680px;
  margin-top: 88px;
}

.getyour__banner button {
  background: #156963;
  color: white;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 38px;
  cursor: pointer;
  margin-top: 32px;
  outline: none;
  border: none;
}

.getyour__banner button:hover {
  background: transparent;
  color: #156963;
}

.getyour__image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.getyour__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}

/*-------FOOTER--------------*/
.footer {
  border-top: 1px solid #156963;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 994px;
  margin: 60px auto;
  padding: 60px 0px;
  padding: 10px;
}

.footer__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 10px;
}

.footer__list h2 {
  text-transform: uppercase;
  color: var(--greenText);
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.05em;
  padding-bottom: 24px;
}

.footer__list h3 {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #000;
  padding-bottom: 24px;
}

.footer__list h4 {
  font-size: 14px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  padding-bottom: 14px;
}

.footer__list p {
  font-size: 13px;
  line-height: 20px;
  color: #4F4F4F;
  padding-bottom: 24px;
  width: 290px;
}

.first__list {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.footer__list input {
  border: none;
  outline: 1px solid #F2F2F2;
  width: 234px;
  font-size: 12px;
  padding: 8px 13px;
}

.footer__list button {
  border: none;
  margin-top: 14px;
  background: var(--greenText);
  color: white;
  font-size: 8px;
  font-weight: 500;
  line-height: 14px;
  padding: 6px 12px;
  border-radius: 2px;
  cursor: pointer;
}

.footer__list button:hover {
  color: var(--greenText);
  background: transparent;
}